/* colors
colonial blue #82a3b7
light colonial green #92a78b
colonial green #5f7458
dark colonial green #475742
khaki #c8bba3
darklightgrey #909090
lightlightgrey #f8f8f8
*/



/*Menubar*/
#banner {
	text-align: center;
	background-color: #92a78b;
	font-family: Great Vibes, cursive;
}

#banner h1 {
	margin-bottom: 0px;
}

#banner h3 {
	margin: 0px;
}

#menubar {
	background-color: #92a78b;
}

#navbar-tab a {
	color: white;
}

#navbar-tab a:hover {
	background-color: #5f7458;
}

#minibrand-box {
	display: none;
}

#minibrand-text {
	color: black;
	margin: 0px;
	white-space: nowrap;
}

li.active-tab {
	background-color: #77916e;
}

.icon-bar {
	background-color: white;
}

.affix {
	top: 0;
	width: 100%;
	z-index: 99;
}

.affix + .container {
	padding-top: 70px;
}

.collapse.in + .container {
	padding-top: 1000px;
}

button.navbar-toggle:hover {
	background-color: #5f7458 !important;
}

/* Prevent navbar from stacking */
/*
.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right!important;
}
*/


/*General*/
body {
	margin: 0px 0px 30px 0px;
	font-family: sans-serif;
	background-color: #f0f0f0;
	/*height: 1600px;
	background-image: url(pictures/creek.jpg);
	background-size: 100%;
	background-attachment: fixed;*/
}

h1, h2, h3 {
	font-family: Great Vibes, cursive;
}

.boxed {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 2px solid lightgrey;
	background-color: white;
	text-align: justify;
}

.boxed h1, .boxed h2, .boxed h3 {
	text-align: center;
}

.img-responsive {
	margin: auto;
}

.padded {
	padding: 10px;
}


/*Footer*/
#footer {
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
	text-align: center;
}

#footer hr {
	max-width: 100%;
	color: black;
	background-color: grey;
	height: 1px;
	border: none;
	margin-bottom: 5px;
}

#footer a {
	color: #537150;
}

.valign {
	display: inline-block;
	vertical-align: middle;
	float: none;
}




/*Home Page*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}




/*Products Page*/
#prod-row-first {
	text-align: center;
}

.filter-button {
    background-color: #92a78b;
    color: white;
    text-decoration: none;

}

.filter-button:hover {
    background-color: #5f7458;
    color: white;
}

#button-select {
	text-align: center;
}

#button-select h4 {
	display: inline-block;
	padding: 15px;
	vertical-align: middle;
}

#button-select button.active-btn {
    background-color: #475742;
}

#btn-collapse {
	margin-top: 2px;
}

#btn-collapse-toggle {
	border-radius: 0px;
}

.btn-group-lg button {
	margin-right: 2px;
	margin-bottom: 2px;
}

.gallery_product {
    margin-bottom: 0px;
    height: auto;
    padding: 10px;
}

.gallery_product div {
	text-align: center;
}

.gallery_product > div {
	margin: 0px;
}

.gallery_product p {
	margin: 0px;
}

.gallery_product img {
	margin-bottom: 10px;
}




/*feedback page*/
#feedback > div {
	padding: 10px;
	border: 2px solid lightgrey;
	background-color: white;
}

#feedback div form div input {
	width: 100%;
    height: 100%;
	padding: 12px 20px;
    margin: 8px 0px;
    border: 2px solid lightgrey;
    border-radius: 4px;
}

#feedback textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 2px solid lightgrey;
    border-radius: 4px;
    resize: none;
}

#feedback button {
    background-color: #92a78b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

#feedback button:hover {
	background-color: #5f7458;
}




/*Success page*/
#success a {
	color: #537150;
}









/*Test area*/

