/* colors
colonial blue #82a3b7
colonial green #8ea486
khaki #c8bba3
lightlightgrey #f8f8f8
*/


/*General*/
body {
	margin: 0px 0px 30px 0px;
	font-family: sans-serif;
	background-color: #f8f8f8;
}

a {
	color: black;
	text-decoration: none;
}

table {
	background-color: white;
	margin-top: 20px;
}

h2 {
	font-family: cursive;
}

.container {
	max-width: 800px;
}

.small {
	max-width: 150px;
}

.medium {
	display: inline-block;
	width: 49%;
}

.left-ijg {
	float: left;
	background-color: white;
	margin-top: 30px;
}

.right-ijg {
	float: right;
	background-color: white;
	margin-top: 30px;
}



/*Menubar*/
#menubar {
	text-align: center;
	background-color: white;
	padding: 15px 0px 15px 0px;
	width: 100%;
	height: auto;
	font-family: cursive;
	box-shadow: 0px 5px 5px lightgrey;
}

#menubar a:hover {
	text-decoration: none;
}

#menubar h1 {
	margin: 0px;
	font-size: 275%;
}

#menubar h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}

#menubar h3 {
	margin-bottom: 0px;
	margin-top: 0px;
}

#menubar h4 {
	margin-top: 5px;

}

#menubar ul {
	margin: 0px;
	z-index: 20;
}

#menubar li {
	display: inline-block;
	border: 2px solid grey;
	background-color: lightgrey;
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
	width: 190px;
}

#menubar li ul {
	/*border: 2px solid grey;
	background-color: white;
	box-shadow: 3px 3px 3px grey;
	padding: 0px;
	border-radius: 5px;*/
	list-style: none;
	padding-left: 0px;
	display: block;
	position: absolute;
}

#menubar li ul li {
	display: block;
	width: 150px;
}


/*Carousel*/



/*Content*/
#contact-us {
	padding: 0px 15px 15px 0px;
	width: 48%;
	min-height: 50px;
	border: 2px solid lightgrey;
	vertical-align: top;
}

#contact-us h2 {
	margin-top: 15px;
	padding-left: 15px;
}

#contact-us ul {
	list-style-type: none;
}

#products {
	width: 48%;
	min-height: 50px;
	border: 2px solid lightgrey;
	text-align: center;

}

#products img {
	width: 100%;
}

#products h2 {
	vertical-align: top;
	text-align: left;
	padding-left: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
}

#products img:hover {
	box-shadow: 3px 3px 3px grey;
}

.imageHolder { 
	display: block;
	position: relative; 
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	} 

.imageHolder .caption { 
	position: absolute; 
	width: 100%;
	top: 0px; 
	left: 0px; 
	color: white; 
	background: black; 
	text-align:center; 
	font-weight:bold; 
	opacity:0.7; 
	font-family: cursive;
}

/*Footer*/
#footer {
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
	text-align: center;
}

#footer hr {
	max-width: 100%;
	color: black;
	background-color: grey;
	height: 1px;
	border: none;
	margin-bottom: 5px;
}

#footer a {
	color: #537150;
}
